.square-1 {
  display: inline-block;
  //  box-sizing: border-box;
  border: 3px solid #333;
  line-height: 3;
  text-align: center;
  cursor: pointer;
  margin: 0px 0px 0px 0px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 6px;
  color: #333;
  background: #ccc;
  border-radius: 5px;
  font-size: 20px;
  width: 180px;
  height: 60px;
}

.square-2 {
  display: inline-block;
  //  box-sizing: border-box;
  border: 3px solid #333;
  line-height: 3;
  text-align: center;
  cursor: pointer;
  margin: 0px 0px 0px 0px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 6px;
  color: #333;
  background: white;
  border-radius: 5px;
  font-size: 20px;
  width: 180px;
  height: 60px;
}
