.queue {
  text-align: center;
  &-footer {
    text-align: center;
    .move {
      margin-bottom: 12px;
      span {
        margin: 0 12px;
      }
    }

    span.button {
      color: #333;
      display: inline-block;
      width: 48px;
      border: 1px solid #333;
      background: #fff;
      border-radius: 4px;
      cursor: pointer;
      padding: 4px 6px;
      margin: 4px;
      user-select: none;
    }
  }
}

.displayBox {
  background-color: black;
  color: whitesmoke;
  width: 300px;
  border: 10px solid green;
  padding: 30px;
  margin: 20px;
}

.nextButton {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 25px;
  font-weight: bold;
  border-radius: 8px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 30px;
  background-color: black;
  color: white;
}

.nextButton:hover {
  color: black;
  background-color: whitesmoke;
}
